<div class="container">
  <h2>Time logs</h2>
  <table class="table table-bordered text-size">
    <thead>
      <tr>
        <th>Name</th>
        <th>Project</th>
        <th>Hours</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <%= render @time_logs %>
    </tbody>
  </table>
</div>
