<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <a class="navbar-brand">PMS</a>
    <div class="collapse navbar-collapse" id="myNavbar">
      <%= render 'shared/navebar' %>
    </div>
  </div>
</nav>
<%= render 'shared/alerts' %>

