<li>
  <%= link_to projects_path do %>
    <span class="glyphicon glyphicon-user"></span> Projects
  <% end %>
</li>
<li>
  <%= link_to clients_path do %>
    <span class="glyphicon glyphicon-user"></span> Client
  <% end %>
</li>
