// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.style {
    color: blue;
    font-size: 60px;
    margin-top: 40px;
}
.center_div{
    margin: 0 auto;
    width:60% /* value of your choice which suits your alignment */
}
.margin-bottom {
margin-bottom:15px;
}
